<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecv.poker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ecv.poker.activity.TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ecv.poker.activity.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="ecv.poker.activity.TitleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ecv.poker.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ecv.poker.activity.TitleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ecv.poker.activity.TitleActivity" />
        </activity>
    </application>

</manifest>